---
layout: blog
title: This is a blog post
class: 
---
<div class="container-fluid ">
  {% for post in paginator.posts %}
  <article>
    <div class="row post">
      <div class=" col-md-12">
        <h1>{{post.title}}</h1>
        <h3><small>{{post.date | date: "%c"}} - {{post.categories}}</small></h3>
      </div>
      <div class=" col-md-12 pull-right text-left">
        {{post.content}}
      </div>
    </div>
  </article>
  {% endfor %}
  <div class="row top-padding">
    <h3>
      {% if paginator.previous_page %}
      {% if paginator.previous_page != 1 %}
      <a href="/blog/page{{paginator.previous_page}}" class="btn btn-primary btn-xs">Previous </a>
      {% else %}
      <a href="/blog/" class="btn btn-primary btn-xs">Previous </a>
      {% endif %}
      {% else %}
      <!--<span class="previous">Previous</span>-->
      {% endif %}
      {% if paginator.next_page %}
      <a href="/blog/page{{paginator.next_page}}" class="btn btn-primary btn-xs">Next</a>
      {% else %}
      <!--<span class="next ">Next</span>-->
      {% endif %}
    </h3>
  </div>
</div>


